<div class="section-wrapper{% if include.bg == 'blur' %} patterned-bg{% endif %}">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">A propos</div>
            <p class="paragraph-text justify-text">
       			Diplômé de l'<a href="https://www.isep.fr/">ISEP</a>, je suis curieux de nature et passionné depuis toujours par tout ce qui touche aux technologies.
            </p>
            <p class="paragraph-text justify-text">
            	J'ai exploré un large spectre de domaines technologiques dans mes projets : Impression 3D, électronique, développement, auto-hébergement, photographie...
            </p>
            <p class="paragraph-text justify-text">
            	Vous aurez ici un aperçu (suffisamment large j'espère) de tout ce que j'ai pu explorer et réaliser, qui selon moi est une partie au moins aussi importante de mon profil que mes formations académiques et mes expériences professionnelles.
            </p>
        </div>
    </section>
</div>
