<div class="section-wrapper{% if include.bg == 'blur' %} patterned-bg{% endif %}">
    <section class="section" id="links">
        <div class="full-width">
            <div class="section-heading" id="links-text">Liens utiles</div>

            <div class="links-grid">

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.github_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i> GitHub
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.codeberg_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-code-branch"></i> Codeberg
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.weblate_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-language"></i> Weblate
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.printables_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-cube"></i> Printables
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.thingiverse_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-cube"></i> Thingiverse
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.cults_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-cube"></i> Cults3D
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.photography_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-camera"></i> Photographie
                </a>

                <a class="semi-transparent-button with-border white-button links-item" href="{{ site.linkedin_url }}" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>

            </div>
        </div>
    </section>
</div>
