<!DOCTYPE html>
<html lang="en-us">
    
    {% include head.html %}

<body>

    {% include nav.html %}

    {% include about.html bg="white" %}

    {% include projects.html bg="blur" %}

    <!-- mosaic-section keys are defined in _data/mosaic_sections.yml -->
    {% include mosaic-section.html key="coding" bg="white" %}

    {% include opensource.html bg="blur" %}

    {% include mosaic-section.html key="3dprinting" bg="white" reverse=true %}

    {% include mosaic-section.html key="photography" bg="blur" %}

    {% include links.html bg="white" %}

    {% include footer.html %}

    {% include gallery-modal.html %}

    {% include scripts.html %}
</body>
</html>
